%header
  .left
    %h1 Eduardo Del Balso
  .right
    %nav
      %ul.nav
        %li= link_to('Blog', '#', class: 'current' )
        %li= link_to('Projects', '#')

.page
  .content
    %h2 Some Awesome Article

    %p It would be handy to have it integrate with Active Record in development mode. I’m thinking you enter !lorem in a text area and before_validation it fills it with some default text. It could also work in text fields by typing !lorem 5 chars, etc. Thoughts?
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in facilisis felis. Pellentesque sed urna odio. Aenean ullamcorper sem ut tellus dictum sed mollis mi scelerisque. Cras congue justo non elit facilisis fringilla lobortis massa aliquet. Integer in risus elit, suscipit molestie leo. Vestibulum imperdiet leo in sem aliquet et tincidunt sapien ultrices. Ut nec arcu eu nulla placerat tincidunt at et eros. Fusce non ultrices mauris. Vestibulum nec lorem augue, sit amet ultrices eros.
    %p Mauris leo nulla, rutrum vitae hendrerit ac, porta vitae turpis. Suspendisse quis dui in ligula semper sollicitudin. Pellentesque fringilla scelerisque facilisis. Duis eros orci, vehicula at suscipit sit amet, pellentesque vitae odio. Donec velit felis, egestas a semper vitae, pellentesque non magna. Donec aliquet nunc non turpis mollis egestas. Vivamus tincidunt viverra eleifend. Sed semper malesuada enim quis suscipit. Morbi quis sem vel tortor eleifend pretium. Suspendisse potenti. Proin rhoncus urna eu nisl accumsan hendrerit. Sed nunc ante, blandit a viverra a, volutpat quis justo. Suspendisse quis ante augue.
    %p Etiam faucibus est vitae nulla euismod id commodo magna tempor. Nulla id nibh purus. Suspendisse potenti. Maecenas pellentesque tellus at mi ornare tristique id id quam. Curabitur malesuada dolor a felis bibendum tincidunt in id enim. Ut ligula tellus, lobortis vel iaculis vel, adipiscing vitae augue. Curabitur mollis, arcu a ullamcorper blandit, enim lacus mollis neque, quis porta leo risus vel turpis. Nunc blandit sodales mauris, a lobortis felis vehicula non.
    %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam rhoncus ante sit amet mauris varius hendrerit. Suspendisse ac mi vel lectus suscipit lacinia quis quis purus. Cras ac arcu elit, in elementum lectus. Aliquam quam urna, venenatis id dapibus a, egestas ut nisi. Suspendisse fermentum volutpat malesuada. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum enim dui, aliquam scelerisque suscipit at, accumsan in justo. Nulla tortor mauris, bibendum et imperdiet eu, ornare nec elit.

%footer
  &nbsp;
